/* ---- fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* ---- x fonts x ---- */

/* Variables */
/* :root {
  --arc: 'Archivo Black', sans-serif;
} */

*{
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

hr {
  color: #fff;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: url(./images/background3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(6px);
}



/* ----------------- Views ----------------- */
.heading-div {
  display: flex;
  justify-content: space-between;
}

.heading-div .addbtn {
  margin: 4vh 4vw 0 0 ;
  padding: 0 .5vw;  
  height: 5vh;
  background-color: #00dfc4;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}


.heading-div .heading{
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 0.01vw;
  margin: 2vh 0 0 2vw ;
}

.mainDivision {
  margin: 2vw;
  display: flex;
  flex-wrap: wrap;
  width: 96vw;
  box-sizing: border-box;
}

.view {
  margin: 2vw;
  display: flex;
}

.view .view-card {
  width: 20vw;
  padding: 1vw;
  font-size: 1.1rem;
  border: 2px solid white;
  border-radius: 15px;
  background: linear-gradient(195deg, #132831e0, #305764e7, #213e4be3);

}

.view .view-card .plate {
  background: linear-gradient(195deg, #3385a0, #21224b);
  font-weight: 500;
  padding: .5vh;
  display: flex;
  justify-content: center;
  transform: translateY(-2vw);
  border: 2px solid #fff;
  border-radius: 5px 20px;
  letter-spacing: 0.1rem;
}

.view .view-card p span {
  font-weight: 500;
}

.view .view-card p {
  color: white;
  margin: 0;
}



/* ----------------- x Views x ----------------- */